/* Archivo: /src/assets/fonts/lovelo.css */

/* Importar la fuente Lovelo Black */
@font-face {
  font-family: "Lovelo Black";
  src: url("./Lovelo-Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Importar la fuente Lovelo Line Bold */
@font-face {
  font-family: "Lovelo Line Bold";
  src: url("./Lovelo-LineBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Importar la fuente Lovelo Line Light */
@font-face {
  font-family: "Lovelo Line Light";
  src: url("./Lovelo-LineLight.ttf") format("truetype");
  font-weight: 300; /* Puedes ajustar este valor si es necesario */
  font-style: normal;
}

h1 {
  font-family: Lovelo Line Bold !important;
}
